<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>世界影城 HelloWorld Cinema</title>
    <link rel="icon" href="./img/logo (3).ico" type="image/x-icon">

    <meta name="description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務">
    <meta name="keywords" content="世界、電影、世界影城、HelloWorld Cinema" />
    <meta name="robots" content="Index,follow">
    <meta property="og:title" content="世界影城" />
    <meta property="og:image" content=".img/bk.jpg" />
    <meta property="og:site_name" content="世界影城網站" />
    <meta property="og:url" content="https://www.ambassador.com.tw" />
    <meta property="og:description" content="世界影城、提供電影介紹、場次時刻表、購票資訊、會員網路訂票服務、電影周邊商品販售、影廳場地租借服務" />
    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
    
    
    
    <!-- 底部footer -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <!-- 消息輪播 -->
    <link rel="stylesheet" href="./slick/slick-theme.css">
    <link rel="stylesheet" href="./slick/slick.css">
    
    <!-- 電影輪播 -->
    <!-- 現正熱映連結 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <!--插件基本框架-->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css" />
    <!--页面布局样式-->
    <link rel="stylesheet" type="text/css" href="./css/movieSlide.css" />
    
    <!-- 主要css -->
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <!-- 首頁內容 -->
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>
<body>

    <!-- 載入動畫 -->
    <canvas></canvas>


    <!-- 選單 -->
    <header class="header">
        <div id="box" class="logo">
            <h1 class="neon"><a href="index.html"><span class="logo_el">H</span>ello<span class="logo_el">W</span>orld <span class="logo_el">C</span>inema</a></h1>
        </div>
        <div id="box">
            <nav class="nav">
                <ul class="nav_menu">
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">影城資訊</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">最新資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">票價說明</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="/movieCommingSoon.html">即將上映</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="/movieNowShowing.html">現正熱映</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">線上訂票</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    
                    </li>
                    <li class="nav__menu-item">
                        <a href="merchStore.html"><h4 class="neon2">周邊商城</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">場地租借</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href="">場地租借須知</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">可租借場地資訊</a>
                            </li>
                            <li class="nav__submenu-item">
                                <a href="">租借表單填寫</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__menu-item">
                        <a href=""><h4 class="neon2">Log In</h4></a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item">
                                <a href=""></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>







    <!-- 消息輪播 -->

    <div class="your-class">
        <div><image src="https://picsum.photos/id/238/1400/600"></div>
        <div><image src="https://picsum.photos/id/239/1400/600"></div>
        <div><image src="https://picsum.photos/id/240/1400/600"></div>
        <div><image src="https://picsum.photos/id/241/1400/600"></div>
        <div><image src="https://picsum.photos/id/242/1400/600"></div>
    </div>




    <!-- 現正熱映連結 -->
    <div class="container1">
        <a class="btn" href="/movieNowShowing.html">現正熱映</a>
    </div>

    

    
    <!-- 電影輪播 -->
    <div class="swiper-container-solution">
        <div class="selected-solution">
            <div>
                <div class="swiper-container">
                
                    <div class="solution-cardlist swiper-wrapper">
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV1.jpg" width="100%">
                                <h3>功夫熊貓4</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV2.jpg" width="100%">
                                <h3>可憐的東西</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV3.jpg" width="100%">
                                <h3>沙丘2</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV4.jpg" width="100%">
                                <h3>芭比</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV5.jpg" width="100%">
                                <h3>奧本海默</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV6.jpg" width="100%">
                                <h3>刻在你心裡的名字</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 swiper-slide">
                            <div class="solution-card">
                                <img src="./img/moviePV7.jpg" width="100%">
                                <h3>月老</h3>
                                <!-- <p></p> -->
                                <span><a  href="#"><span class="arrow-more">場次時刻</span><span class="arrow-f"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-pagination solution-pagination"></div> -->
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>









    <!-- 底部footer -->
    <footer class="footer">
        <div class="titleCont">
            <h1 class="main-title" id="main-title">
                    "You must not be afraid to dream a little bigger, darling."
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="neon2">關於我們</h4>
                    <ul>
                        <li><a href="#">影城簡介</a></li>
                        <li><a href="#">影城交通</a></li>
                        <li><a href="#">影城設備</a></li>
                        <li><a href="#">注意事項</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">電影評論區</h4>
                    <ul>
                        <li><a href="#">影評查詢</a></li>
                        <li><a href="#">電影分類</a></li>
                        <li><a href="#">排行榜</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">客服中心</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">真人聊天室</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="neon2">follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>



    


    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./slick/slick.min.js"></script>
    <!-- 主要js -->
    <script src="./js/index.js"></script>
    <!-- 首頁內容 -->
    <script src="./js/home.js"></script>
    <!-- 電影輪播 -->
    <script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
 
</body>
</html>