<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>員工資料 - getbyId.html</title>

    <head th:insert="~{/included-fragment}"></head>
    <style type="text/css">

        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> <h2>員工個人資料 - getbyId.html</h2>
        <h3><a class="navbar-brand" th:href="@{/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

<div align="center" th:fragment="getbyId-div"> <!-- 此div被select_page.html第158行insert用 -->
    <h3><span>查詢結果 :</span></h3>
    <span>員工編號:</span><span th:text="${EmpVO.empId}"></span><br/>
    <span>員工姓名:</span><span th:text="${EmpVO.empName}"></span><br/>
    <span>職位:</span><span th:text="${EmpVO.empPassword}"></span><br/>
    <span>雇用日期:</span><span th:text="${EmpVO.hireDate}"></span><br/>
    <span>薪水:</span><span th:text="${EmpVO.empEmail}"></span><br/>
    <span>獎金:</span><span th:text="${EmpVO.empStatus}"></span><br/>
    <span>部門:</span><span th:text="${EmpVO.jobVO.jobId} + '-[' + ${EmpVO.jobVO.title} + ']'"></span><br/>
<!--    <span>照片:</span><span><img th:src="@{/emp/DBGifReader} + '?empno=' + ${empVO.empno}" width="100px"></span><br/>-->
</div>


</body>
</html>